$primary-100: #2f24d1;
$primary-200: #553cd7;
$primary-300: #7053dd;
$primary-400: #886be3;
$primary-500: #9e82e8;
$primary-600: #b39aed;

$dark-100: #181818;
$dark-200: #2d2d2d;
$dark-300: #444444;
$dark-400: #5b5b5b;
$dark-500: #747474;
$dark-600: #8f8f8f;

$mixed-100: #1e1a28;
$mixed-200: #332f3c;
$mixed-300: #494552;
$mixed-400: #615d68;
$mixed-500: #797680;
$mixed-600: #929098;

$primary-text: #ddd;
$secondary-text: #aaa;